<!DOCTYPE html>
<html>
    <head>
        <title>FastAPI & Jinja2</title>
    </head>
    <body>

            <!--{{ username }}을 통해 동적 데이터를 삽입합니다.-->
        <h1>Hello, {{ username }}</h1>

        <!--제어문-->
        {% if time_of_day == "morning" %}
            <h1>Good morning!</h1>
        {% elif time_of_day == "afternoon" %}
            <h1>Good Afternoon!</h1>
        {% else %}
            <h1>Good Evening!</h1>
        {% endif %}

        <!--반복문-->
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <!-- 'lower' 필터 적용 -->
        <p>{{ name | lower }}</p>

        <!-- 매크로 선언 -->
        {% macro greet(name) %}
            <p>Hello, {{ name }}</p>
            <p>Hello, Macro!</p>
        {% endmacro %}

        <!-- 매크로 호출 -->
        {{ greet(name) }}
            {{ greet(name) }}

        <!-- 상속 -->
         <!-- extends를 통해서 base.html을 상속 받습니다.-->
        {% extends "base.html" %}

        <!-- block content 부분을 오버라이딩 하여 FastAPI로 부터 전달을 받는 text변수를 렌더링 합니다.-->
        {% block content %}
            <p>{{ text }}</p>
        {% endblock %}

    </body>
</html>